/.metadata/
/.recommenders/
/TaskFourLessonsTwo/nbproject/private/
/TaskTwoLessonsTwo/nbproject/private/
/TaskOneLessonsTwoOne/nbproject/private/
/TaskTwoLessonsTwoOne/nbproject/private/
/LessonSeven/nbproject/private/
/LessonSixA/nbproject/private/
/TaskThreeLessonsTwoOne/nbproject/private/
/TaskFourLessonsTwoOne/nbproject/private/
/TaskOneLessonsTwo/nbproject/private/
/TaskThreeLessonsTwo/nbproject/private/
/LessonSeven/build/
/LessonSeven/LessonSevenTwo/nbproject/private/