/.metadata/
/.recommenders/
/TaskFourLessonsTwo/nbproject/private/
/TaskTwoLessonsTwo/nbproject/private/
/TaskOneLessonsTwoOne/nbproject/private/
/TaskTwoLessonsTwoOne/nbproject/private/
/LessonSeven/nbproject/private/
/LessonSixA/nbproject/private/
/TaskThreeLessonsTwoOne/nbproject/private/
/TaskFourLessonsTwoOne/nbproject/private/
/TaskOneLessonsTwo/nbproject/private/
/TaskThreeLessonsTwo/nbproject/private/
/LessonSeven/build/
/LessonSeven/LessonSevenTwo/nbproject/private/
/TaskOneLessonsFive/TaskOneLessonsFive/nbproject/private/
/TaskOneLessonsFive/TaskOneLessonsFive/build/
/TaskTwoLessonsFive/TaskTwoLessonsFive/nbproject/private/
/TaskTwoLessonsFive/TaskTwoLessonsFive/build/
/TaskThreeLessonsFive/TaskThreeLessonsFive/nbproject/private/
/TaskThreeLessonsFive/TaskThreeLessonsFive/build/
/TaskFourLessonsFive/TaskFourLessonsFive/nbproject/private/
/TaskFourLessonsFive/TaskFourLessonsFive/build/
/TaskOneLessonSix/TaskOneLessonSix/nbproject/private/
/TaskOneLessonSix/TaskOneLessonSix/build/
/TaskTwoLessonSix/TaskTwoLessonSix/nbproject/private/
/TaskTwoLessonSix/TaskTwoLessonSix/build/
/TaskThreeLessonSix/TaskThreeLessonSix/nbproject/private/
/TaskThreeLessonSix/TaskThreeLessonSix/build/
/TaskFourLessonSix/TaskFourLessonSix/nbproject/private/
/TaskFourLessonSix/TaskFourLessonSix/build/
/TaskFiveLessonSix/TaskFiveLessonSix/nbproject/private/
/TaskFiveLessonSix/TaskFiveLessonSix/build/